<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title><%= title %></title>
		<link rel="stylesheet" href="/styles.css" />
	</head>

	<body>
		<h1><%=title %></h1>
		<h1><%= `Welcome back `%></h1>
		<div class="uploadDownloadContainer">
				<!-- Going to mock the user functionality -->
				<div id="pathName">
					<a class="up1Direct" href="/up-1-direct">...</a>
					<p>/usr/home/here</p>
				</div>
				<div class="itemDescriptionContainer">
                    <form
                    id="uploadForm"
						action="/upload-files"
						method="POST"
						enctype="multipart/form-data"
					>
						<label for="filepath">File Path: </label>
						<input type="text" name="filepath" id="filepath" placeholder="Default is current directory"/>
						<label for="filebytes">File:</label>
						<input type="file" name="filebytes" id="filebytes" />
						<button type="submit">Upload File</button>
					</form>
					<form  id='downloadForm'action="/download-items" method="GET">
						<%if (files){ %>
                            <% for (const file of files) {%>
                                <ul>
                                    <li class="itemName"><%=file.name %></li>
                                    <li class="itemSize"><%=String(file.size / 10**6) + 'MB' %></li>
                                    <li class="itemDate"><%=file.uploadTime %></li>
                                    <li class="itemType"><%="File" %></li>
                                    <!-- need to put id as the one to download -->
                                    <input id=""type="checkbox" />
                                </ul>
                            <% } %>
                       <% } %>
                        <button type='submit'>Download Files</button>
					</form>
					
			</div>
		<a id='logoutLink' href="/log-out" method="GET">Log out here</a>
	</body>
</html>
